[pager]
    branch = false
[commit]
    verbose = true
[alias]
    ec = config --global --edit

    b = branch
    co = checkout
    cob = checkout -b
    rb = rebase

    st = status
    di = diff
    dh1 = diff HEAD~1

    ca = !git add --all && git commit --verbose
    cam = !git add --all && git commit -m
    am = !git add --all && git commit --amend
    amn = !git add --all && git commit --amend --no-edit

    save = !git add --all && git commit -m 'SAVEPOINT'
    undo = reset HEAD~1 --mixed
    wipe = !git add -A && git commit --quiet -m 'WIPE SAVEPOINT' && git reset HEAD~1 --hard

    psh = push
    pushh = push -u origin head
    pshh = push -u origin head
    pl = pull

[advice]
        detachedHead = false
[pull]
        rebase = true
